Smart Irrigation System.json
[{"id":"a2313b7c.26f238","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3996e2c5.5b588e","type":"http in","z":"a2313b7c.26f238","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":230,"y":240,"wires":[["d71f06c9.158e98"]]},{"id":"d71f06c9.158e98","type":"function","z":"a2313b7c.26f238","name":"command","func":"msg.payload=msg.payload.command\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["dbc0211f.a6474","bd7b426b.87293","8d09fc6e.1ec85"]]},{"id":"dbc0211f.a6474","type":"http response","z":"a2313b7c.26f238","name":"","statusCode":"","headers":{},"x":680,"y":240,"wires":[]},{"id":"bd7b426b.87293","type":"debug","z":"a2313b7c.26f238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":300,"wires":[]},{"id":"34210ca1.f96a14","type":"ui_button","z":"a2313b7c.26f238","name":"","group":"7fd65bc9.289364","order":6,"width":0,"height":0,"passthru":false,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":440,"y":320,"wires":[["8d09fc6e.1ec85","bd7b426b.87293"]]},{"id":"2a8cc3ce.7ed04c","type":"ui_button","z":"a2313b7c.26f238","name":"","group":"7fd65bc9.289364","order":7,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":440,"y":380,"wires":[["8d09fc6e.1ec85","bd7b426b.87293"]]},{"id":"be8845f3.e68818","type":"ibmiot in","z":"a2313b7c.26f238","authentication":"apiKey","apiKey":"ab275741.d511e8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1024","applicationId":"","deviceType":"Sanzo64","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":540,"wires":[["dbbb0b64.37c8b8","ec19be18.0e9a","54e14cb1.fd53d4","de8787b9.897428"]]},{"id":"8d09fc6e.1ec85","type":"ibmiot out","z":"a2313b7c.26f238","authentication":"apiKey","apiKey":"ab275741.d511e8","outputType":"evt","deviceId":"1024","deviceType":"Sanzo64","eventCommandType":"farm","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":380,"wires":[]},{"id":"ec19be18.0e9a","type":"function","z":"a2313b7c.26f238","name":"temperature","func":"global.set('temperature',msg.payload.Temperature)\n\nreturn{payload:msg.payload.Temperature}","outputs":1,"noerr":0,"x":450,"y":500,"wires":[["aaf4655e.5120a8","dbbb0b64.37c8b8"]]},{"id":"54e14cb1.fd53d4","type":"function","z":"a2313b7c.26f238","name":"moisture","func":"global.set('moisture',msg.payload.Moisture)\nreturn{payload:msg.payload.Moisture}","outputs":1,"noerr":0,"x":460,"y":580,"wires":[["8a93b1d5.6e39b","dbbb0b64.37c8b8"]]},{"id":"de8787b9.897428","type":"function","z":"a2313b7c.26f238","name":"humidity","func":"global.set('humidity',msg.payload.Humidity)\nreturn{payload:msg.payload.Humidity}","outputs":1,"noerr":0,"x":470,"y":680,"wires":[["dbbb0b64.37c8b8","ae51e349.08f29"]]},{"id":"dbbb0b64.37c8b8","type":"debug","z":"a2313b7c.26f238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":520,"wires":[]},{"id":"aaf4655e.5120a8","type":"ui_gauge","z":"a2313b7c.26f238","name":"","group":"7fd65bc9.289364","order":8,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":460,"wires":[]},{"id":"8a93b1d5.6e39b","type":"ui_gauge","z":"a2313b7c.26f238","name":"","group":"7fd65bc9.289364","order":9,"width":0,"height":0,"gtype":"gage","title":"Moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#62b300","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":620,"wires":[]},{"id":"ae51e349.08f29","type":"ui_gauge","z":"a2313b7c.26f238","name":"","group":"7fd65bc9.289364","order":10,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":700,"wires":[]},{"id":"103bf29f.5faa1d","type":"http response","z":"a2313b7c.26f238","name":"","statusCode":"","headers":{},"x":640,"y":860,"wires":[]},{"id":"a595a0c.c070d6","type":"function","z":"a2313b7c.26f238","name":"httpresponse","func":"msg.payload={\"temperature\":global.get('temperature'),\"moisture\":global.get('moisture'),\"humidity\":global.get('humidity')}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":840,"wires":[["103bf29f.5faa1d"]]},{"id":"308d8175.3f5a1e","type":"http in","z":"a2313b7c.26f238","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":250,"y":840,"wires":[["a595a0c.c070d6"]]},{"id":"7fd65bc9.289364","type":"ui_group","z":"","name":"Smart Irrigation","tab":"7f12de36.4e26c","order":1,"disp":true,"width":"6","collapse":false},{"id":"ab275741.d511e8","type":"ibmiot","z":"","name":"Iotdevice64","keepalive":"60","serverName":"y4s317.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"7f12de36.4e26c","type":"ui_tab","z":"","name":"Farm","icon":"dashboard","disabled":false,"hidden":false}]